<%- include('partials/header'); %>

<section id="dashboard-section">
    <h1>Bitcoin Price Prediction</h1>
    <div class="chart-container-wrapper">
        <div class="chart-container">
          <canvas id="priceChart"></canvas>
        </div>
      </div>
</section>



    <!-- ChartJS CDN-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const actualData = <%- JSON.stringify(actualData) %>;
        console.log(actualData);
        //TODO: Create a variable for ForecastData


        // Extracting date and price from data
        const actualDates = actualData.map(d => d.ds);
        const actualPrices = actualData.map(d => d.y);
        //TODO: Mapthe forecast data to the coorect format
        

        // Draw Chart
        const ctx = document.getElementById("priceChart").getContext("2d");
        new Chart(ctx, {
            type: "line",
            data: {
                //TODO: Include the forecastData Labels
                labels: [...actualDates],
                datasets: [
                    {
                        label: "Actual Prices",
                        data: actualPrices,
                        borderColor: "blue",
                        fill: false
                    }/*,
                    // TODO: Include the Predicted Prices Data
                    
                    {
                        label: "Predicted Prices",
                        data: [...Array(actualPrices.length).fill(null), ...forecastPrices], 
                        borderColor: "red",
                        borderDash: [5, 5],
                        fill: false
                    }
                    */
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: { title: { display: true, text: "Date" } },
                    y: { title: { display: true, text: "Price (USD)" } }
                }
            }
        });
    </script>





<%- include('partials/footer'); %>