<%- include('partials/header'); %>




<section id="select-section">

    <div class="container main-select">
        <h1>Select your Crypto & Timeframe</h1>
        <!-- FORM FOR USER DATA-->
         <form action="/fetch-data" method="post">
            <!--Crypto Selection Drop Down-->
            <div class="form-group">
                <label for="crypto">Choose a Cryptocurrency:</label>
                <select name="crypto" id="crypto" required>
                    <option value="" disabled selected hidden>Select a Cryptocurrency</option>
                    <option value="BTC">Bitcoin (BTC)</option>
                    <option value="ETH">Etherium (ETH)</option>
                    <option value="XRP">Ripple (XRP)</option>
                    <option value="ADA">Cardano (ADA)</option>
                    <option value="SOL">Solana (SOL)</option>
                </select>
            </div>
            <!-- Time frame Drop Down-->
            <div class="form-group">
                <label for="timeframe">Select a historical Data Type:</label>
                <select name="timeframe" id="timeframe" required>
                    <option value="" disabled selected hidden>Select a Timeframe</option>
                    <option value="Daily">Daily</option>
                    <option value="Weekly">Weekly</option>
                    <option value="Monthly">Monthly</option>
                </select>
            </div>

            <!--Submit Button-->
            <button type="submit" class="btn-submit">
                <i class="fa-solid fa-chart-line"></i> Get Predictions
            </button>



         </form>
      
       

    </div>

</section>






<%- include('partials/footer'); %>